:root {
  --primary: #0fae96;
  --bg-dark: #11011e;
  --font-main: "Raleway", sans-serif;
  --font-secondary: "Roboto", sans-serif;
  --font-light-title: #ecf1f0;
  --font-light-sub: #b6b6b6;
  --header-padding: 3rem 9rem;
  --section-padding: 0 9rem;
  --radius: 0.625rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  background: var(--bg-dark);
  color: #fff;
  width: 100dvw;
  font-family: var(--font-main);
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--header-padding);
}

.logo-crypto,
.logo-crypto span {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logo-crypto {
  color: #fff;
}

.logo-crypto span {
  color: var(--primary);
}

.navigation ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  color: var(--font-light-title);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navigation a {
  text-decoration: none;
  color: inherit;
}

.navigation .active {
  color: var(--primary);
}

.lang-and-cta {
  display: flex;
  gap: 1rem;
}

.lang {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.lang span {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.lang-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-cta-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.5rem;
  padding: 1rem 2.4rem;
  border: none;
  border-radius: var(--radius);
  background: var(--primary);
  color: #fff;
  text-align: center;
  font-feature-settings:
    "salt" on,
    "liga" off;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  flex-shrink: 0;
}

.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 60rem;
  margin: 8.8rem auto;
  position: relative;
}

.hero-title::before,
.hero-title::after {
  content: "";
  position: absolute;
  width: 675px;
  height: 314px;
  border-radius: 675px;
  filter: blur(300px);
  pointer-events: none;
  z-index: -1;
  flex-shrink: 0;
}

.hero-title::before {
  top: 0;
  left: 0;
  background: #7000ff;
}

.hero-title::after {
  top: 0;
  left: 40%;
  background: #ff00c7;
}

.hero-title > * {
  position: relative;
  z-index: 1;
}

.hero-title__heading {
  color: var(--font-light-title);
  text-align: center;
  font-feature-settings:
    "salt" on,
    "liga" off;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem;
}

.hero-title__subtitle {
  color: var(--font-light-sub);
  text-align: center;
  font-feature-settings:
    "salt" on,
    "liga" off;
  font-family: var(--font-secondary);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-top: 2rem;
}

.hero-cta-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  width: 11.875rem;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: var(--radius);
  background: var(--primary);
  color: #fff;
  text-align: center;
  font-feature-settings:
    "salt" on,
    "liga" off;
  font-family: var(--font-main);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
}

.market-trends-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--section-padding);
  flex-shrink: 0;
}

.market-trends-header {
  color: var(--font-light-title);
  font-feature-settings:
    "salt" on,
    "liga" off;
  font-family: var(--font-main);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 2.4rem;
}

.market-trends-content {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.coin-trend-item {
  display: flex;
  padding: 18px 20px 18px 19px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: var(
    --High-Fidelity-Color-Card-Background,
    rgba(255, 255, 255, 0.02)
  );
}

.coin-info {
  display: flex;
  width: 254px;
  justify-content: space-between;
  align-items: center;
}

.coin-data {
  display: flex;
  align-items: center;
  gap: 14px;
}
.coin-trend-img {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.coin-abbreviation {
  color: var(--Font-Color-Light-Title, #ecf1f0);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.coin-name {
  display: flex;
  padding: 4px 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #c6c6c6;

  color: #1d1429;

  text-align: center;
  font-family: Raleway;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.market-trend-see-more {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

.devider {
  width: 258px;
  height: 1px;
  opacity: 0.05;
  background: #ecf1f0;
}

.coin-value {
  display: flex;
  width: 252px;
  justify-content: space-between;
  align-items: center;
}

.value-perc {
  display: flex;
  width: 140px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 9px;
  flex-shrink: 0;
}

.trend-coin-price {
  align-self: stretch;
  color: var(--Font-Color-Light-Title, #ecf1f0);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.trend-coin-perc {
  color: var(--Font-Color-Light-Subtitle, #b6b6b6);
  font-feature-settings:
    "salt" on,
    "liga" off;
  /* Subtitle/Subtitle 1 - Medium */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 28.8px */
}

.trend-coin-chart {
  width: 100px;
  height: 53.271px;
  flex-shrink: 0;
  background: url(/btc-chart.png) 99% / cover no-repeat;
}

.faetures-section {
  margin-top: 18.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 69px;
  padding: var(--section-padding);
  position: relative;
}

.title_heading-faetures-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.title_heading-faetures {
  color: var(--Font-Color-Light-Title, #ecf1f0);
  text-align: center;
  font-feature-settings:
    "salt" on,
    "liga" off;
  /* Heading/Heading 3 */
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 122.222% */
}

.title_heading_faetures-sub {
  color: var(--Font-Color-Light-Subtitle, #b6b6b6);
  text-align: center;
  font-feature-settings:
    "salt" on,
    "liga" off;
  /* Subtitle/Subtitle 1 - Reguler */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}

.faetures-cards {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
.faetures-card {
  display: flex;
  padding: 30px 30px 30px 28px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: var(
    --High-Fidelity-Color-Card-Background,
    rgba(255, 255, 255, 0.02)
  );
  backdrop-filter: blur(100px);
}

.faetures-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 38px;
  flex: 1 0 0;
}

.faetures-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 27px;
  align-self: stretch;
}

.faetures-img-container {
  display: flex;
  width: 80px;
  height: 80px;
  align-items: flex-start;
  gap: 10px;
}

.faetures-img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}

.faetures-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.faetures-item-header {
  color: var(--Font-Color-Light-Title, #ecf1f0);
  font-feature-settings:
    "salt" on,
    "liga" off;

  /* Heading/Heading 6 */
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
  align-self: stretch;
}
.faetures-item-desc {
  color: var(--Font-Color-Light-Subtitle, #b6b6b6);
  font-feature-settings:
    "salt" on,
    "liga" off;

  /* Caption/Caption 1 - Reguler */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  align-self: stretch;
}

.features-item-link {
  display: flex;
  align-items: center;
  gap: 4px;
}
.features-item-link-desc {
  color: var(--High-Fidelity-Color-Primary-Color, #0fae96);
  font-feature-settings:
    "salt" on,
    "liga" off;
  /* Label/Label 1 - Medium */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-decoration: none;
}
.intersect-faetures {
  position: absolute;
  fill: #7000ff;
  filter: blur(200px);
  left: -10%;
  top: -130%;
  opacity: 0.6;
  z-index: -1;
}

.learn-section {
  margin: var(--section-padding);
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  margin-top: 12.7rem;
}

.learn-section-content {
  display: flex;
  width: 536px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex-shrink: 0;
}

.learn-section-content-header {
  color: var(--Font-Color-Light-Title, #ecf1f0);
  font-feature-settings:
    "salt" on,
    "liga" off;

  /* Heading/Heading 5 */
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  align-self: stretch;
}

.learn-section-content-desc {
  color: var(--Font-Color-Light-Subtitle, #b6b6b6);
  font-feature-settings:
    "salt" on,
    "liga" off;
  /* Subtitle/Subtitle 1 - Reguler */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  align-self: stretch;
}

.learn-section-cta-btn {
  border-radius: 10px;
  background: var(--High-Fidelity-Color-Primary-Color, #0fae96);
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--Font-Color-Pure-White, #fff);
  text-align: center;
  font-feature-settings:
    "salt" on,
    "liga" off;
  /* Label/Label 1 - Semibold */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  border: none;
}

.intersect-learn {
  position: absolute;
  width: 620.33px;
  height: 474px;
  flex-shrink: 0;
  fill: #60ffe7;
  filter: blur(200px);
  top: -450%;
  right: 5%;
  opacity: 0.5;
  z-index: -1;
}

.market-update-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 31px;
  padding: var(--section-padding);
  margin-top: 16.7rem;
}

.market-update-section-header {
  color: var(--Font-Color-Light-Title, #ecf1f0);
  font-feature-settings:
    "salt" on,
    "liga" off;

  /* Heading/Heading 3 */
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 122.222% */
}

.market-update-section-category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  align-self: stretch;
}

.market-update-section-category-title {
  color: var(--Font-Color-Light-Subtitle, #b6b6b6);
  font-feature-settings:
    "salt" on,
    "liga" off;

  /* Subtitle/Subtitle 1 - Medium */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 28.8px */
}

.category-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.category-list {
  display: flex;
  align-items: center;
  gap: 12px;
}

.category-item {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.05);
  color: var(--Font-Color-Light-Subtitle, #b6b6b6);
  font-feature-settings:
    "salt" on,
    "liga" off;
  /* Caption/Caption 1 - Reguler */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.category-item.active {
  color: #211631;
  background-color: #eaeaea;
}
.search-box-container {
  position: relative;
  display: inline-block;
}
.search-box {
  width: 282px;
  padding: 15px 15px 15px 55px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #160c24;
  color: #eaeaea;
  position: relative;
}

.search-icon {
  width: 2rem;
  height: 2rem;
  filter: invert(68%) sepia(12%) saturate(0%) hue-rotate(120deg) brightness(1.2);
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* .market-update-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  width: 100%;
}
.market-update-table-row {
  display: flex;
  height: 62.375px;
  padding: 16px 74px 16px 30px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
} */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

thead {
  color: var(--Font-Color-Light-Subtitle, #b6b6b6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

th,
td {
  padding: 12px 16px;
  text-align: left;
}

td {
  color: var(--Font-Color-Light-Subtitle, #b6b6b6);
  font-feature-settings:
    "salt" on,
    "liga" off;

  /* Caption/Caption 1 - Reguler */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
tr {
  border: 1px solid rgba(255, 255, 255, 0.05);

  background: var(
    --High-Fidelity-Color-Card-Background,
    rgba(255, 255, 255, 0.02)
  );
}

.table-data-img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.table-data-divider {
  width: 1px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #403a3a;
}

.table-data-name {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.table-chart {
  width: 76px;
  height: 40.486px;
}

.table-trade-button {
  display: flex;
  padding: 4px 24px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  background: var(--High-Fidelity-Color-Primary-Color, #0fae96);
  border: none;

  color: var(--Font-Color-Pure-White, #fff);
  text-align: center;
  font-feature-settings:
    "salt" on,
    "liga" off;
  /* Label/Label 1 - Semibold */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.market-update-see-all {
  display: flex;
  padding: 10px 10px 10px 0;
  align-items: center;
  gap: 10px;
  align-self: stretch;

  color: var(--High-Fidelity-Color-Primary-Color, #0fae96);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.section-how {
  display: flex;
  padding: var(--section-padding);
  align-items: flex-start;
  gap: 190px;
  margin-top: 13rem;
  position: relative;
}
.section-how::after {
  content: "";
  width: 499.053px;
  height: 364.943px;
  flex-shrink: 0;
  border-radius: 499.053px;
  background: #ff00c7;
  filter: blur(200px);
  position: absolute;
  top: 50%;
  left: 20%;
  opacity: 0.2;
  z-index: -1;
}

.how-text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 39px;
  flex: 1 0 0;
}
.how-header {
  display: flex;
  padding: 10px 10px 10px 0;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  color: var(--Font-Color-Light-Title, #ecf1f0);
  font-feature-settings:
    "salt" on,
    "liga" off;

  /* Heading/Heading 3 */
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 122.222% */
}

.how-desc {
  color: var(--Font-Color-Light-Subtitle, #b6b6b6);
  font-feature-settings:
    "salt" on,
    "liga" off;

  /* Subtitle/Subtitle 1 - Reguler */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}

.how-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 39px;
  flex: 1 0 0;
}

.how-cta {
  display: flex;
  width: 190px;
  padding: 13px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--High-Fidelity-Color-Primary-Color, #0fae96);
  color: var(--Font-Color-Pure-White, #fff);
  text-align: center;
  font-feature-settings:
    "salt" on,
    "liga" off;

  /* Label/Label 1 - Semibold */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  border: none;
}

.how-right {
  display: flex;
  height: 430px;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
  flex: 1 0 0;
}

.how-card {
  display: flex;
  padding: 10px 52px 20px 20px;
  align-items: center;
  gap: 21px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: var(
    --High-Fidelity-Color-Card-Background,
    rgba(255, 255, 255, 0.02)
  );
}

.how-img-frame {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.how-img {
  width: 80px;
  height: 80px;
}

.card-content {
  display: flex;
  width: 338px;
  flex-direction: column;
  align-items: flex-start;
}

.card-header {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  color: var(--Font-Color-Light-Title, #ecf1f0);
  font-feature-settings:
    "salt" on,
    "liga" off;

  /* Heading/Heading 6 */
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
}

.card-desc {
  display: flex;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  color: var(--Font-Color-Light-Subtitle, #b6b6b6);
  font-feature-settings:
    "salt" on,
    "liga" off;

  /* Caption/Caption 1 - Reguler */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.blog-section {
  margin-top: 10rem;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  padding: var(--section-padding);
}

.blog-section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.blog-section-header-title {
  color: var(--Font-Color-Light-Title, #ecf1f0);
  text-align: center;
  font-feature-settings:
    "salt" on,
    "liga" off;

  /* Heading/Heading 3 */
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 122.222% */
}
.blog-section-header-desc {
  color: var(--Font-Color-Light-Subtitle, #b6b6b6);
  text-align: center;
  font-feature-settings:
    "salt" on,
    "liga" off;

  /* Subtitle/Subtitle 1 - Reguler */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 43px;
  align-self: stretch;
}

.articles-first-row {
  display: flex;
  align-items: flex-start;
  gap: 26px;
  flex: 1 0 0;
  align-self: stretch;
}
.vertical-article {
  display: flex;
  padding: 220px 44px 31px 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 18px;
  background:
    linear-gradient(0deg, rgba(38, 1, 68, 0.75) 0%, rgba(38, 1, 68, 0.75) 100%),
    url(./img/articles/vertical.jpg) lightgray 50% / cover no-repeat;
}
.vertical-article-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  align-self: stretch;
}

.vertical-article-content-header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #fff;
  font-feature-settings:
    "salt" on,
    "liga" off;

  /* Heading/Heading 3 */
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 122.222% */
}
.vertical-article-content-tag {
  display: flex;
  padding-right: 430px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.vertical-article-content-tag-text {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--Font-Color-Light-Subtitle, #b6b6b6);
  font-feature-settings:
    "salt" on,
    "liga" off;

  /* Caption/Caption 2 - Medium */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.07);
}

.twin-articles {
  display: flex;
  align-items: flex-start;
  gap: 26px;
  flex: 1 0 0;
}

.twin-article {
  display: flex;
  padding-bottom: 16px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.02);
}

.twin-article-img {
  height: 195px;
  align-self: stretch;
  border-radius: 18px 18px 0 0;
  background:
    lightgray 50% / cover no-repeat,
    #777;
}
.twin-article-content {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  align-self: stretch;
}

.twin-article-content-tag-container {
  display: flex;
  padding-right: 160px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.twin-article-content-tag-container-span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.07);
  padding: 0.4rem 0.3rem;
  color: var(--Font-Color-Light-Subtitle, #b6b6b6);
  font-feature-settings:
    "salt" on,
    "liga" off;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.twin-article-content-header {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;

  color: #fff;
  font-feature-settings:
    "salt" on,
    "liga" off;

  /* Label/Label 1 - Semibold */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.twin-article-content-desc {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  color: var(--Font-Color-Light-Subtitle, #b6b6b6);
  font-feature-settings:
    "salt" on,
    "liga" off;

  /* Caption/Caption 2 - Reguler */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}
.articles-sec-row {
  display: flex;
  align-items: flex-start;
  gap: 26px;
  flex: 1 0 0;
  align-self: stretch;
}

.footer {
  display: flex;
  width: 1440px;
  padding: 60px 90px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
